.row{
    padding: 40;
}

#box1{
    background-color: sienna;
    width: 50%;
    height: 50px;
    display: inline-block;
}

#box1:after{
    content: "";
    clear: both;
    display: table;
}

#box2{
    background-color: blue;
    width: 50%;
    height: 50px;
    float: left;
}

#box3{
    background-color: purple;
    width: 50%;
    height: 50px;
    display: inline-block;
}

#box4{
    background-color: sandybrown;
    width: 50%;
    height: 50px;
    float: left;
}